<h1><%= @playlist.name %></h1>

<% @songs.each do |song| %>
  <li>
    <%= link_to(song.title, song_path(song)) %>
  </li>
<% end %>

<%= link_to "Edit", edit_playlist_path %>
<%= link_to "New Playlist", new_playlist_path(@artist) %>
<%= link_to "Back to Playlists", playlists_path %>
